<!DOCTYPE html>
<html lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/dashboard.css" th:href="${'css/dashboard.css'}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Course Watchdog - dashboard</title>
    </head>
    <body>
        <main>
            <div id="container">

                <div id="left">
                    <div id="appname">
                        <div class="image">
                            <img src="../static/images/dog6.png" th:src="${'images/dog6.png'}">
                        </div>
                        <h1>Course Watchdog</h1>
                    </div>

                    <div id="navbuttons">
                        <div data-board="alarms" onclick="showBoard(event)">Upozornění</div>
                        <div data-board="events" onclick="showBoard(event)">Probíhající kurzy</div>
                        <div data-board="attended" onclick="showBoard(event)">Moje historie</div>
                    </div>

                    <div id="profile">
                        <h2>Profil uživatele</h2>
                        <p>Uživatel: Testtest@test.cz</p>
                        <p>Nová upozornění: 4</p>
                        <button class="button red">Upravit profil</button>
                    </div>
                </div>

                <div id="right">
                    <div id="alarms" class="board">
                        <h2>Nastavená upozornění</h2>
                        <table>
                            <thead>
                                <th>Hlídám</th>
                                <th>Nalezeno</th>
                                <th>Stav registrace</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <div id="events" class="board unfolded">
                        <h2>Nadcházející kurzy</h2>
                        <table class="eventtable">
                            <thead>
                                <tr>
                                    <th id="date_head">Datum<br>od-do</th>
                                    <th id="type_head">Linie</th>
                                    <th id="name_head">Název</th>
                                    <th id="location_head">Místo</th>
                                    <th id="time_head">Začátek<br>Konec</th>
                                    <th id="link_head">Odkaz</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="course : ${courseList}" >
                                    <td>
                                        <span th:text="${#dates.format(course.startDate, 'dd.MM.yyyy')}">11.11.1111</span>
                                        <span th:text="${#dates.format(course.endDate, 'dd.MM.yyyy')}">11.11.1111</span>
                                    </td>
                                    <td th:text="${course.topic}">jsem originál</td>
                                    <td th:text="${course.name}">nazev kurzu, treba neco s vektory</td>
                                    <td th:text="${course.quickLocation}">praha centrum</td>
                                    <td>
                                        <span th:text="${course.startTime}">11:11</span>
                                        <span th:text="${course.endTime}">11:11</span>
                                    </td>
                                    <td class="icon"><a href="#" th:href="${course.link}" target="_blank"><i class="material-icons md-36">
                                        open_in_new
                                    </i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="attended" class="board">
                        <h2>Absolvované kurzy</h2>
                        <table>
                            <thead>
                                <th colspan="2">Datum</th>
                                <th>Linie</th>
                                <th>Název</th>
                                <th>Místo</th>
                                <th>Začátek</th>
                                <th>Konec</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </main>

        <script src="../static/scripts/dashboard.js" th:src="${'scripts/dashboard.js'}"></script>
        
    </body>
</html>