<!DOCTYPE html>
<html lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/dashboard.css" th:href="${'css/dashboard.css'}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Course Watchdog - dashboard</title>
    </head>
    <body>
        <main>
            <div id="container">

                <div id="left">
                    <div id="appname">
                        <div class="image">
                            <img src="../static/images/dog6.png" th:src="${'images/dog6.png'}">
                        </div>
                        <h1>Course Watchdog</h1>
                    </div>

                    <div id="navbuttons">
                        <div>Upozornění</div>
                        <div>Vypsané kurzy</div>
                        <div>Moje historie</div>
                    </div>

                    <div id="profile">
                        <h2>Profil uživatele</h2>
                        <p>Uživatel: Testtest@test.cz</p>
                        <p>Nová upozornění: 4</p>
                        <button class="button red">Upravit profil</button>
                    </div>
                </div>

                <div id="right">

                    <div id="events" class="board">
                        <h1>VYPSANÉ KURZY</h1>
                        <table class="eventtable">
                            <thead>
                                <tr class="regularrow">
                                    <th id="date_head">Datum<br>od-do</th>
                                    <th id="type_head">Linie</th>
                                    <th id="name_head">Název</th>
                                    <th id="location_head">Místo</th>
                                    <th id="registration_head">Registrace</th>
                                    <!--<th id="time_head">Začátek<br>Konec</th>-->
                                    <th id="link_head">Odkaz na web</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="course : ${courseList}">
                                    <tr class="regularrow"  onclick="showRowDetail(event)" onmouseenter="highlightRow(event)" onmouseleave="revertHighlightRow(event)">
                                        <td>
                                            <span th:text="${#dates.format(course.startDate, 'dd.MM.yyyy')}">11.11.1111</span>
                                            <span th:text="${#dates.format(course.endDate, 'dd.MM.yyyy')}">11.11.1111</span>
                                        </td>
                                        <td th:text="${course.topic}">jsem originál</td>
                                        <td th:text="${course.name}">nazev kurzu, treba neco s vektory</td>
                                        <td th:text="${course.quickLocation}">praha centrum</td>
                                        <td th:switch="${course.status}">
                                            <span th:case="${T(cz.danakut.fill_a_db.RegistrationStatus).OTEVRENA}" th:text="otevřena">otevřena</span>
                                            <span th:case="${T(cz.danakut.fill_a_db.RegistrationStatus).UZAVRENA}" th:text="ukončena"></span>
                                            <span th:case="${T(cz.danakut.fill_a_db.RegistrationStatus).POZDEJI}" th:text="'bude později'"></span>
                                            <span th:case="${T(cz.danakut.fill_a_db.RegistrationStatus).NETREBA}" th:text="'není třeba'"></span>
                                            <span th:case="${T(cz.danakut.fill_a_db.RegistrationStatus).NEZJISTENO}" th:text=""></span>
                                            <span th:case="*"></span>
                                        </td>
                                        <td class="icon"><a href="#" th:href="${course.link}" target="_blank"><i class="material-icons md-36">
                                            open_in_new
                                        </i></a></td>
                                    </tr>
                                    <tr class="detailrow">
                                        <td class="detailcell" colspan="6">
                                            <div class="detail">
                                                <div class="description">
                                                    <h3>O akci:</h3>
                                                    <span th:text="${course.description}">Popis kurzu.</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="detailrow">
                                        <td colspan="6">
                                            <div class="detail">
                                                <div class="coursetype" th:switch="${course.type}">
                                                    <h3>Typ akce</h3>
                                                    <span th:case="${T(cz.danakut.fill_a_db.CourseType).WORKSHOP}" th:text="jednodenní">jednodenní</span>
                                                    <span th:case="${T(cz.danakut.fill_a_db.CourseType).DLOUHODOBY}" th:text="'dlouhodobý kurz'"></span>
                                                    <span th:case="${T(cz.danakut.fill_a_db.CourseType).INTENZIVNI}" th:text="'intenzivní kurz'"></span>
                                                    <span th:case="${T(cz.danakut.fill_a_db.CourseType).AKCE}" th:text="akce"></span>
                                                    <span th:case="${T(cz.danakut.fill_a_db.CourseType).NEURCENO}" th:text="neurčeno"></span>
                                                </div>
                                                <div class="time">
                                                    <h3>Čas</h3>
                                                    <span th:text="${course.startTime} ? ${course.startTime} + ' - ' : 'neurčeno' ">11:00 - </span>
                                                    <span th:text="${course.endTime} ?: '' ">11:00</span>
                                                </div>
                                                <div class="address">
                                                    <h3>Adresa:</h3>
                                                    <span th:text="${course.location.name + ', '}">Název instituce,</span>
                                                    <span th:text="${course.location.street} ? ${course.location.street} + ', ' : '' ">Ulice,</span>
                                                    <span th:text="${course.location.postalCode} ? ${course.location.postalCode} + ' ' : '' ">PSČ </span>
                                                    <span th:text="${course.location.city}">město</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="detailrow">
                                        <td colspan="6">
                                            <div class="detail">
                                                <div class="lecturers">
                                                    <h3>Lektoři:</h3>
                                                    <th:block th:each="instructor : ${course.instructors}">
                                                        <span th:text="${instructor}">dksfjalskd</span>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!--<div id="attended" class="board">-->
                        <!--<h2>Absolvované kurzy</h2>-->
                        <!--<table>-->
                            <!--<thead>-->
                                <!--<th colspan="2">Datum</th>-->
                                <!--<th>Linie</th>-->
                                <!--<th>Název</th>-->
                                <!--<th>Místo</th>-->
                                <!--<th>Začátek</th>-->
                                <!--<th>Konec</th>-->
                            <!--</thead>-->
                            <!--<tbody>-->

                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->

                    <!--<div id="alarms" class="board">-->
                        <!--<h2>Nastavená upozornění</h2>-->
                        <!--<table>-->
                            <!--<thead>-->
                                <!--<th>Hlídám</th>-->
                                <!--<th>Nalezeno</th>-->
                                <!--<th>Stav registrace</th>-->
                            <!--</thead>-->
                            <!--<tbody>-->

                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->

                </div>

            </div>

        </main>

        <script src="../static/scripts/dashboard.js" th:src="${'scripts/dashboard.js'}"></script>
    </body>
</html>