<!DOCTYPE html>
<html lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/intro.css" th:href="${'css/intro.css'}" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&amp;subset=latin-ext" rel="stylesheet">
        <title>Course Watchdog - database error</title>
    </head>
    <body>
        <h1>Chyba databáze</h1>
        <div th:each="error : ${errors}">
            <p th:text="${error}">text</p>
        </div>
        
    </body>
</html>